/**
 * unmodal variables
 * @author hiwangchi@gmail.com
 */


@backdrop-zIndex: 10000;
@unmodal-default-width: 300px;
@unmodal-default-height: 200px;

@unmodal-theme-color: #65cea7;
@unmodal-theme-bg: #fff;
